#login-wrapper{
    float: left;
    padding: 250px 0px 0px 700px;
    width: 800px;
}

.login-input{
    height: 46px;
    width: 570px;
}

.form-group{
    padding-bottom: 25px;
}

#login-btn{
    width: 570px;
    height: 40px
}